.home{
  background-image: url(../img/contact-bg.jpg);
  height: 60vh;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 100%);
  padding: 50px;
}

.home h1{
  text-align: center;
  font-size: 50px;
  color:#fff;
  border-bottom: 4px solid var(--one);
  width: max-content;
  padding: 10px 0;
  border-radius: 10px;
  margin: 0 auto;
}
.icon{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 20px;
  text-align: center;
}

.icon p{
  font-size: 24px;
  font-weight: 400;
}
.icon i{
  color: var(--one);
  font-size: 30px;
}

.contact-us{
  padding: 60px 10px;
}
.contact-us h1{
  font-size: 24px;
  text-align: center;
}
.contact-us p{
  text-align: center;
  font-size: 14px;
}
.contact-us .imgs{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us .imgs img{
  width: 200px;
}

.contact-us .container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}


form{
  background-color: var(--one);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}



form h3{
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

form input, form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px ;
  outline: none;
  background-color: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
}

form button{
  padding: 15px;
  background-color: var(--tow);
  color: #ffff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

form button:hover{
  transform: scale(1.1);
  transition: .5s;
}


::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background-color: #dee9e7;
  box-shadow: 0 0 10px #000000 inset;
  border-radius: 40px;
}

::-webkit-scrollbar-thumb{
  background-color: #5daa7b;
  border-radius: 90px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #007b2f;
}